#locale_button {
    width: 25px;
    height: 19px;
    margin-left: 10px;
    margin-top: 15px;
    float: left;
}

#locale_button:lang(ru) {
    background-repeat: no-repeat;
    background-image: url(../resources/flag_rus.gif);
}

#locale_button:lang(en) {
    background-repeat: no-repeat;
    background-image: url(../resources/flag_en.gif);
}