@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(locale.css);
@import url(button.css);
@import url(search.css);

body {
    background-image: url(../resources/look.com.ua-74571.jpg);
    padding: 0px;
    margin: 0px;

}

 .header {
    width: 960px;
    height: 80px;
    margin: 30px auto;
    
}

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

    nav {z-index: 1;
}

    nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}

    nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}

    nav ul li {
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
}

    nav ul li:hover{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li {
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
}
      
    nav ul li a {
        display: block; 
        padding: 30px 20px;
        color: #222; 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
}
     
    nav ul ul {
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
}
        
    nav ul ul li {
        float: none;
        position: relative;
}
          
    nav ul ul li a {
        padding: 15px 30px; 
        border-bottom: 1px solid rgba(0,0,0,.05);
}
          
    nav ul ul ul {
        position: absolute; 
        left: 100%; 
        top:0;
}	

.content {
    width: 960px;
    height: 700px /*auto*/; 
    background: lightgrey;
    filter: opacity(90%);
    margin: 30px auto;
    overflow:visible;
    
}

.footer {
    text-decoration: none;
    color: white;
    width: 960px;
    height: 70px;
    background: black;
    margin: -30px auto;
    filter: opacity(90%);
    
}

.footer a {
    padding: 0 15px;
    color: darkgrey;
}

.footer a:hover {
    color: gold;
}
