body { 
    font-family: 'PT Sans', sans-serif;

}


ul, li {
    display: block;
    padding: 0;
    margin: 0;

}

h1, h2, h3 {
    font-weight: 700;
    color: black;
}


h2{
    text-align: center;
}

h3 {
    font-weight: 400;

}


.in_title{
    padding-top: 90px;
    padding-bottom: 65px;
    text-align: center;
}

.title__main{
    font-size: 33px;

}

.title__text{
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
    
}



.header {
    padding-top: 60px;
    background-image: url(../resources/cutmypic.png);
    
}


.menu{
    font-size: 22px;
    margin-top: 10px;
}


.menu__item{
    margin: 0 57px;

}


.menu__item a{
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;


}

.menu__item a:hover{
    font-size: 24px;
    font-weight: 700;
    color:crimson;
    text-decoration: none;


}

.offer{
    margin-top: 120px;

}

.offer__title{
    font-size: 35px;
    margin-bottom: 8px;

}

.offer__intro{
    font-size: 22px;
    line-height: 1,4em;
    color: crimson;

}

.offer__text{
    font-size: 17px;
    margin-top: 13px;
    color: silver;
    width: 410px;

}


.icons__item{
    margin-right: 30px;
}


.icons__item a{
    color: black;
    font-size: 39px;

    
}

.icons__item a:hover{
    text-decoration: none;
    color: crimson;

}

.art{
    display: block;
    margin: 60px auto 0;

}

.art:hover{
    display: block;
    background-color: crimson;
    border-radius: 33px;
    border-color: crimson;
    
}

.description__icon{
    font-size: 50px;
    margin-right: 25px;

}


.description_con{
    color: #444444;

}