body { 
    font-family: 'PT Sans', sans-serif;

}


ul, li {
    display: block;
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: black;
}


h2{
text-align: center;
}

h3 {
    font-weight: 400;
}


.header {
    padding-top: 60px;
    background-color: darkgray;
    visibility: 85%;
    color: black;
}

.log_fake{
    float: none;

}


.menu{
    font-size: 22px;
    margin-top: 10px;
    float: none;

}


.menu__item{
    margin: 0 57px;

}


.menu__item a{
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: 0.3s ease;


}

.menu__item a:hover{
    font-size: 24px;
    font-weight: 700;
    color:crimson;
    text-decoration: none;


}

.offer{
    margin-top: 120px;

}

.offer__title{
    font-size: 35px;
    margin-bottom: 8px;

}

.offer__intro{
    font-size: 22px;
    line-height: 1,4em;

}

.offer__text{
    font-size: 17px;
    margin-top: 13px;
    color: #555555;
    width: 410px;

}


.icons__item{
    margin-right: 30px;
}


.icons__item a{
    color: black;
    font-size: 39px;

    
}

.icons__item a:hover{
    text-decoration: none;
    color: crimson;

}

.art{
    display: block;
    margin: 60px auto 0;

}

.art:hover{
    display: block;
    background-color: crimson;
    border-radius: 33px;
    border-color: crimson;
    
}