body { 
    font-family: 'PT Sans', sans-serif;
}


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 700;
    color: black;
    text-shadow:-1px 1px 0px rgb(126, 125, 125);
}


h2{
    text-align: center;
}

h3 {
    font-weight: 400;
}


.in_title{
    padding-top: 90px;
    padding-bottom: 65px;
    text-align: center;
}

.title__main{
    font-size: 33px;
}

.title__text{
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}



.header {
    padding-top: 60px;
    background-image: url(../resources/cutmypic.png);
}


.menu{
    font-size: 22px;
    margin-top: 10px;
}


.menu__item{
    margin: 0 57px;
}


.menu__item a{
    font-size: 24px;
    font-weight: 700;
    color: rgb(22, 22, 22);
    text-decoration: none;
    transition: 0.3s ease;
    /* text-shadow: 0 0 4px white; */
    text-shadow: -2px 1px 0px white;
}

.menu__item a:hover{
    font-size: 26px;
    font-weight: 700;
    color:crimson;
    text-decoration: none;
    text-shadow: -2px 1px 0px #ccd6d6,
    -7px 7px 0px #373a3a,
    -10px 10px 0px #6f7979;
}

.offer{
    margin-top: 120px;
}

.offer__title{
    font-size: 35px;
    margin-bottom: 8px;
}

.offer__intro{
    font-size: 22px;
    line-height: 1,4em;
    color: crimson;
    text-shadow: -1px 1px 0px rgb(199, 135, 148);
}

.offer__text{
    font-size: 17px;
    margin-top: 13px;
    color: rgb(216, 215, 215);
    width: 410px;
    text-shadow: 2px 2px 4px black;
}

.projects__theme{
    margin-top: 55px;
    margin-left: 50px;
    padding: 20px;
}
.projects__theme a{
    text-decoration: none;
    color: #444444;
}

.projects__theme a:hover{
    text-decoration: none;
    color: crimson;
}

.projects__theme p{
    text-decoration: none;
    color: #444444;
}


.icons__item{
    margin-right: 30px;
}


.icons__item a{
    color: black;
    font-size: 39px;
    text-shadow: 2px 2px 8px crimson;

    
}

.icons__item a:hover{
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px 8px black          ;
}

.art{
    display: block;
    margin: 60px auto 0;
}

.art:hover{
    display: block;
    background-color: crimson;
    border-radius: 33px;
    border-color: crimson;
}

.description{
    margin-bottom: 50px;
}


.description__icon{
    font-size: 50px;
    margin-right: 25px;
}

.description_con{
    color: #444444;
    

}

.mail{
    background:rgb(34, 33, 33); 
    color: #ccd6d6;
}

.crimson_theme{
    color: crimson;
    text-shadow: -1px 1px 0px rgb(199, 135, 148);
    font-family: 'PT Sans', sans-serif;
}

.form{
    text-align: center;
}

.form__inp{
    background: white;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 30px;
    width: 580px;
    padding: 15px 0;
    border-color: crimson;
    outline: none;
}

.form__butn{
    font-family: 'PT Sans', sans-serif;
    border-radius: 30px;
    border-color:rgb(199, 135, 148) ;
    background: crimson;
    text-transform: uppercase;
    color:rgb(34, 33, 33);
    font-size: 15px;
    font-weight: 700;
    width: 105px;
    padding: 15px 0;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

.footer{
    background:rgb(34, 33, 33); 
    color: #ccd6d6;   
    text-align: center;
}

.information{
    /* padding-top: 60px;
    padding-bottom: 70px; */
    padding: 60px 0 70px;
}

.information a{
    color: #ccd6d6;
    text-decoration: none;
    font-size: 14px;
}

.information a:hover{
    color: crimson;
}


@media screen and (max-width: 992px) {
    .log_fake{
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .menu__item {
        margin: 10px 40px;    
    }

    .offer {
        text-align: center;
    }

    .offer__title{
        margin: 20px auto;
        width: auto;
    }

    .offer__text{
        /* text-align: center; */
        margin: 20px auto;
        width: auto;
    }

    .icons {
        justify-content: center;
    }

    .icons__item:nth-child(3){
        margin-right: 0;
    }

    .form__inp{
        margin-right: 0;
        width: 100%;
    }

    .form__butn{
        margin-top: 12px;
        width: 100%; 
    }

    .title__text{
        width: auto;
    }
    
    /* .header{
        width: 100%;
    } */
    
}

@media screen and (max-width: 576px) {
    .log_fake{
        display: block;
        width: 100%;
    }

    .menu{
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }

    .menu__item{
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .offer__title{
        margin: 20px auto;
        width: auto;
    }
    
    .art{
        width: 100%;
    }

    .art:hover{
        width: 100%;
    }

    .icons__item{
        margin-right: 20px auto;
    }

    /* .icons__item break-after:first-child{
        margin-right: auto;
    } */
}  

@media screen and (max-width: 220px){    

    .description{
        flex-direction: column-reverse;
        width: 100%
    }
    


}

