
#search {
    float:left;
    height: 39px;
    width: 215px;
    background: white;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

#search-form input[type=text] {
    width: 175px;
    height: 25px;
    margin: 2px 0 0 2px;
    color: black;
    border: 0;
    padding-left: 5px;
     
}

#search-form input[type=button] {
    width: 20px;
    height: 20px;
    margin: 4px 0 0 2px;
    background-image: url(../resources/sea.png);
    cursor: pointer;
    border: 0;

}
  
